.App {
  height: 100vh;
  /* opacity: 0.5; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: "Manrope", sans-serif;
  background-color: var(--Light-Grayish-Blue);
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("./fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("./fonts/Manrope-Bold.ttf") format("truetype");
}